<!-- ============== SECTION PAGETOP ============== -->
<section class="py-4">
    <div class="container" >
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '/';">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="/" hx-boost="true" class="text-dark fw-bold">Anor</a>
                </li>

                {{/* populate ancestor categories as breadcrumb */}}
                {{ range $index, $category := .AncestorCategories }}
                    <li class="breadcrumb-item text-muted">
                        <a href="#"
                           hx-push-url="true"
                           hx-get="/categories/{{ $category.Slug }}-{{ $category.ID }}"
                           hx-target="#main"
                           hx-target-error=""
                           class="text-muted">{{ $category.Category }}
                        </a>
                    </li>
                {{ end }}

                {{/* populate category as the last item of breadcrumb */}}
                <li class="breadcrumb-item text-muted active" aria-current="page">
                    {{ .Category.Category }}
                </li>
            </ol>
        </nav>
    </div> <!-- container //  -->
</section>
<!-- ============== SECTION PAGETOP END// ============== -->

<!-- ============== SECTION CONTENT ============== -->
<section>
    <div class="container">

        <div class="row">
            <aside class="col-xl-2 col-lg-3">
                <!-- ===== Card for sidebar filter ===== -->
                <div id="aside_filter" class="collapse d-lg-block mb-5 sticky-top">

                    <!-- filterby item -->
                    <div class="pb-3 mb-2">
                        <div class="side-filter-title mt-4 mb-3">Categories</div>
                        <ul class="list-menu mb-0 side-category-list">

                            {{/* populate category in side menu */}}
                            <li>
                                <a class="text-dark fw-bold"
                                   href="#"
                                   hx-push-url="true"
                                   hx-get="/categories/{{ .Category.Slug }}-{{ .Category.ID }}"
                                   hx-target="#main"
                                >
                                    <i class="fa fa-chevron-left fa-sm"></i>
                                    <span>{{ .Category.Category }}</span>
                                </a>
                            </li>

                            {{/* populate child categories */}}
                            {{ $lenChildCategories := len .ChildCategories }}
                            {{ if ( le $lenChildCategories 15) }}
                                {{ range .ChildCategories }}
                                    <li class="ps-2">
                                        <a
                                                href="#"
                                                hx-push-url="true"
                                                hx-get="/categories/{{ .Slug }}-{{ .ID }}"
                                                hx-target="#main"
                                        >{{ .Category }}</a></li>
                                {{ end }}
                            {{ else }}
                                {{ $categories15   := ( slice .ChildCategories 0 15) }}
                                {{ $categoriesMore := ( slice .ChildCategories 15) }}

                                {{ range $categories15 }}
                                    <li class="ps-2"><a
                                                href="#"
                                                hx-push-url="true"
                                                hx-get="/categories/{{ .Slug }}-{{ .ID }}"
                                                hx-target="#main"
                                        >{{ .Category }}</a></li>
                                {{ end }}

                                <div class="collapse side-filter-collapsible" id="category-collapse">
                                    {{ range $categoriesMore }}
                                        <li class="ps-2"><a
                                                    href="#"
                                                    hx-push-url="true"
                                                    hx-get="/categories/{{ .Slug }}-{{ .ID }}"
                                                    hx-target="#main"
                                            >{{ .Category }}</a></li>
                                    {{ end }}
                                </div>
                                <li class="ps-2">
                                    <a class="side-filter-more-button" data-bs-toggle="collapse"
                                       href="#category-collapse" role="button" aria-expanded="false"
                                       aria-controls="category-collapse">
                                        <i class="fa fa-chevron-down fa-sm"></i>
                                        <span> More</span>
                                    </a>
                                </li>
                            {{ end }}

                            {{/* populate sibling categories */}}
                            {{ $lenSiblingCategories := len .SiblingCategories }}
                            {{ if ( le $lenSiblingCategories 15) }}
                                {{ range .SiblingCategories }}
                                    <li class="ps-2"><a
                                                href="#"
                                                hx-push-url="true"
                                                hx-get="/categories/{{ .Slug }}-{{ .ID }}"
                                                hx-target="#main"
                                        >{{ .Category }}</a></li>
                                {{ end }}
                            {{ else }}
                                {{ $categories15   := ( slice .SiblingCategories 0 15) }}
                                {{ $categoriesMore := ( slice .SiblingCategories 15) }}
                                {{ range $categories15 }}
                                    <li class="ps-2"><a
                                                href="#"
                                                hx-push-url="true"
                                                hx-get="/categories/{{ .Slug }}-{{ .ID }}"
                                                hx-target="#main"
                                        >{{ .Category }}</a></li>
                                {{ end }}
                                <div class="collapse side-filter-collapsible" id="category-collapse">
                                    {{ range $categoriesMore }}
                                        <li class="ps-2"><a
                                                    href="#"
                                                    hx-push-url="true"
                                                    hx-get="/categories/{{ .Slug }}-{{ .ID }}"
                                                    hx-target="#main"
                                            >{{ .Category }}</a></li>
                                    {{ end }}
                                </div>
                                <li class="ps-2">
                                    <a class="side-filter-more-button" data-bs-toggle="collapse"
                                       href="#category-collapse" role="button" aria-expanded="false"
                                       aria-controls="category-collapse">
                                        <i class="fa fa-chevron-down fa-sm"></i>
                                        <span> More</span>
                                    </a>
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                    <!-- filterby item .// -->

                    <!-- filterby item -->
                    <div class="pb-3 mb-2">
                        <div class="side-filter-title mb-3">Brands</div>
                        <div class="side-filter">
                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> Panasonic </span>
                            </label>

                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> Toyota </span>
                            </label>

                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> Xiaomi </span>
                            </label>

                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> Apple </span>
                            </label>

                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> Samsung </span>
                            </label>

                            <div class="collapse side-filter-collapsible" id="brand-collapse">
                                <label class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label"> Pomegranate </span>
                                </label>

                                <label class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label"> Lg </span>
                                </label>
                            </div>

                            <div><a class="side-filter-more-button" data-bs-toggle="collapse" href="#brand-collapse" role="button" aria-expanded="false" aria-controls="category-collapse">
                                    <i class="fa fa-chevron-down fa-sm"></i><span> More</span></a>
                            </div>

                        </div>

                    </div>
                    <!-- filterby item .// -->

                    <!-- filterby item -->
                    <div class="pb-3 mb-2">
                        <div class="side-filter-title  mb-2">Price range</div>
                        <input type="range" class="form-range" min="0" max="100">
                        <div class="row mb-2 g-2">
                            <div class="col-6">
                                <label for="min" class="form-label">Min</label>
                                <input class="form-control" id="min" placeholder="$0">
                            </div> <!-- col end.// -->

                            <div class="col-6">
                                <label for="max" class="form-label">Max</label>
                                <input class="form-control" id="max" placeholder="$9999">
                            </div> <!-- col end.// -->
                        </div> <!-- row end.// -->
                    </div>
                    <!-- filterby item .// -->

                    <!-- filterby item -->
                    <div class="pb-3 mb-2">
                        <div class="side-filter-title mb-2">Ratings</div>
                        <label class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="">
                            <span class="form-check-label">
                                <ul class="rating-stars">
                                  <li class="stars-active" style="width: 100%;">
                                    <img src="static/images/misc/stars-active.svg" alt="">
                                  </li>
                                  <li> <img src="static/images/misc/starts-disable.svg" alt=""> </li>
                                </ul>
                              </span>
                        </label> <!-- form-check end.// -->
                        <label class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="">
                            <span class="form-check-label">
                                <ul class="rating-stars">
                                  <li class="stars-active" style="width: 80%;">
                                    <img src="static/images/misc/stars-active.svg" alt="">
                                  </li>
                                  <li> <img src="static/images/misc/starts-disable.svg" alt=""> </li>
                                </ul>
                              </span>
                        </label> <!-- form-check end.// -->
                        <label class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="">
                            <span class="form-check-label">
                                <ul class="rating-stars">
                                  <li class="stars-active" style="width: 60%;">
                                    <img src="static/images/misc/stars-active.svg" alt="">
                                  </li>
                                  <li> <img src="static/images/misc/starts-disable.svg" alt=""> </li>
                                </ul>
                              </span>
                        </label> <!-- form-check end.// -->
                        <label class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="">
                            <span class="form-check-label">
                                <ul class="rating-stars">
                                  <li class="stars-active" style="width: 40%;">
                                    <img src="static/images/misc/stars-active.svg" alt="">
                                  </li>
                                  <li> <img src="static/images/misc/starts-disable.svg" alt=""> </li>
                                </ul>
                              </span>
                        </label> <!-- form-check end.// -->
                    </div>
                    <!-- filterby item .// -->


                </div> <!-- card.// -->

                <!-- ===== Card for sidebar filter .// ===== -->

            </aside> <!-- col .// -->
            <main class="col-xl-10 col-lg-9" >

                <header class="card mb-1 border-0">
                    <div class="p-3 d-md-flex align-items-center">
                        <!-- left   -->
                        <span class="d-block pt-3">{{ humanizeNum .ProductsCount }} results</span>
                        <!-- left  .//  -->
                        <!-- right -->
                        <div class="ms-auto d-md-flex align-items-center gap-3">

                            <select class="form-select d-inline-block w-auto">
                                <option value="0">Best Match</option>
                                <option value="1">Price: Low to High</option>
                                <option value="1">Price: High to Low</option>
                                <option value="2">Highest Rated</option>
                                <option value="3">Best Sellers</option>
                                <option value="3">New Arrivals</option>
                            </select>
                            <div class="btn-group">
                                <a href="page-items-list.html" class="btn btn-light" data-bs-toggle="tooltip" title="List view">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <a href="page-items-grid.html" class="btn btn-light active" data-bs-toggle="tooltip" title="Grid view">
                                    <i class="fa fa-th"></i>
                                </a>
                            </div> <!-- btn-group end.// -->
                        </div>  <!-- right .//-->
                    </div>
                </header>  <!-- card .//-->

                <!-- filtered-elements -->
                <div class="mb-3">
                    <span class="chips border bg-gray-light"> Samsung <a href="#" class="btn-close"></a> </span>
                    <span class="chips border bg-gray-light"> Apple <a href="#" class="btn-close"></a> </span>
                    <span class="chips border bg-gray-light"> Damaged <a href="#" class="btn-close"></a> </span>
                    <span class="chips border bg-gray-light"> Metallic <a href="#" class="btn-close"></a> </span>
                    <span class="chips border bg-gray-light"> 4 star <a href="#" class="btn-close"></a> </span>
                    <a href="" class="btn btn-link">Clear all filter</a>
                </div>
                <!-- filtered-elements .// -->

                <!-- ========= content items ========= -->
                <div class="row" id="product-items-with-footer">
                    {{ range .Products }}
                        <div class="col-xxl-3 col-xl-4 col-sm-6 col-12">
                            <figure class="card card-product-grid">
                                <div class="position-relative rounded-top">
                                    <a href="#" class="img-wrap rounded-top"> <img src="{{ .ThumbImg }}">  </a>
                                    <span class="saved-item-icon d-inline-block py-2 px-2 rounded-circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
                                        </svg>
                                    </span>
                                </div>
                                <figcaption class="p-3 border-0 card-product-grid-body">
                                    <a class="title mb-1"
                                       href="#"
                                       hx-push-url="true"
                                       hx-get="/products/{{ .Slug }}-{{ .ID }}"
                                       hx-target="#main"
                                       hx-swap="innerHTML show:window:top"

                                    >{{ .Name }}</a>
                                    <div class="mb-3 item-rating-card">
                                        <p class="d-inline text-warning"><i class="fa fa-sm fa-star"></i></p>
                                        <span class="text-muted">4.5</span>
                                        <span class="text-muted ms-0">(34 reviews)</span>
                                    </div> <!-- rating-wrap.// -->
                                    <div class="price-wrap">
                                        {{ if (eqd0 .Pricing.DiscountedAmount ) }}
                                            <span class="d-block price-old" style="visibility: hidden" >${{ .Pricing.BasePrice }}</span>
                                            <span class="price">${{ .Pricing.BasePrice }}</span>
                                        {{ else }}
                                            <span class="d-block price-old">${{ .Pricing.BasePrice }}</span>
                                            <span class="price">${{ subd .Pricing.BasePrice .Pricing.DiscountedAmount }}</span>
                                        {{ end }}

                                    </div> <!-- price-wrap.// -->
                                </figcaption>
                            </figure> <!-- card // -->
                        </div> <!-- col .// -->
                    {{ end }}

                    <footer class="my-4" id="footer">
                        <!-- initialize pagination variables -->
                        {{ $currentPage  := .Pagination.Page }}
                        {{ $pagesCount := .Pagination.TotalPages }}
                        {{ $categorySlug := formatSlug .Category.Slug .Category.ID }}

                        <!-- show more button -->
                        {{ if (lt $currentPage (sub1 $pagesCount) ) }}
                            <div class="d-grid mb-3">
                                <button class="btn btn-outline-secondary btn-lg py-3 border-0 btn-show-more" type="button"
                                        hx-push-url="true"
                                        hx-get="/categories/{{ $categorySlug }}?page={{ add1 $currentPage}}&req_from=btn-pagination"
                                        hx-target="#footer"
                                        hx-swap="outerHTML"
                                >Show 20 more</button>
                            </div>
                        {{ else if (eq $currentPage (sub1 $pagesCount) ) }}
                            <div class="d-grid mb-3">
                                <button class="btn btn-outline-secondary btn-lg py-3 border-0 btn-show-more" type="button"
                                        hx-push-url="true"
                                        hx-get="/categories/{{ $categorySlug }}?page={{ add1 $currentPage}}&req_from=btn-pagination"
                                        hx-target="#footer"
                                        hx-swap="outerHTML"
                                >Show {{ mod .ProductsCount 20}} more</button>
                            </div>
                        {{ end}}
                        <!-- show more button .//-->

                        <!-- pagination menu -->
                        <nav class="mt-4">
                            <ul class="pagination justify-content-center">
                                <!-- 'Previous' link -->
                                {{ if (eq $currentPage 1) }}
                                    <li class="page-item me-2 disabled">
                                        <a class="page-link rounded-circle" href="#" aria-label="Previous">
                                            <i class="fa fa-chevron-left"></i>
                                        </a>
                                    </li>
                                {{ else }}
                                    <li class="page-item me-2">
                                        <a class="page-link rounded-circle"
                                           href="/categories/{{ $categorySlug }}?page={{ sub1 $currentPage}}&req_from=btn-pagination"
                                           aria-label="Previous"
                                           hx-push-url="true"
                                           hx-get="/categories/{{ $categorySlug }}?page={{ sub1 $currentPage}}&req_from=btn-pagination"
                                           hx-target="#product-items-with-footer"
                                        >
                                            <i class="fa fa-chevron-left"></i>
                                        </a>
                                    </li>
                                {{ end }}
                                <!-- 'Previous' link .//-->

                                <!-- pagination links -->
                                {{ range $pageNum := genPageNums $currentPage $pagesCount 5 }}
                                    {{ if (eq $pageNum $currentPage) }}
                                        <li class="page-item active me-2" aria-current="page">
                                            <span class="page-link rounded-circle" >{{ $pageNum }}</span>
                                        </li>
                                    {{ else }}
                                        <li class="page-item me-2">
                                            <a class="page-link rounded-circle"
                                               href="/categories/{{ $categorySlug }}?page={{ $pageNum }}&req_from=btn-pagination"
                                               hx-push-url="true"
                                               hx-get="/categories/{{ $categorySlug }}?page={{ $pageNum }}&req_from=btn-pagination"
                                               hx-target="#product-items-with-footer"
                                            >
                                                {{ $pageNum }}
                                            </a>
                                        </li>
                                    {{ end }}
                                {{ end }}
                                <!-- pagination links .//-->

                                <!-- 'Next' link -->
                                {{ if (eq $currentPage $pagesCount) }}
                                    <li class="page-item me-2 disabled">
                                        <a class="page-link rounded-circle disabled" href="#" aria-label="Next">
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </li>
                                {{ else }}
                                    <li class="page-item me-2">
                                        <a class="page-link rounded-circle"
                                           href="/categories/{{ $categorySlug }}?page={{ add1 $currentPage}}"
                                           aria-label="Next"
                                           hx-push-url="true"
                                           hx-get="/categories/{{ $categorySlug }}?page={{ add1 $currentPage}}&req_from=btn-pagination"
                                           hx-target="#product-items-with-footer"
                                        >
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </li>
                                {{ end }}
                                <!-- 'Next' link .//-->
                            </ul>
                        </nav>

                        <!-- pagination menu .//-->
                    </footer>
                </div> <!-- row.// -->

                <!-- ========= content items .// ========= -->

            </main> <!-- col .// -->
        </div> <!-- row .// -->

    </div> <!-- container .//  -->
</section>
<!-- ============== SECTION CONTENT END// ============== -->



<!-- ================ SECTION SUBSCRIBE ================ -->
<section class="padding-y-lg bg-gray-light">
    <div class="container">

        <h4 class="text-center">Subscribe on our newsletter</h4>
        <p class="pb-2 text-center">Get daily news on upcoming offers from many suppliers all over the world</p>

        <div style="max-width:380px;" class="mx-auto">

            <div class="d-flex">
                <div class="me-1 flex-grow-1">
                    <input class="w-100 form-control" placeholder="Your Email" type="email">
                </div> <!-- col.// -->
                <div class="">
                    <button type="submit" class="btn btn-primary"> <i class="fa fa-envelope"></i> Subscribe
                    </button>
                </div> <!-- col.// -->
            </div>
        </div>


    </div> <!-- container  .// -->
</section>
<!-- ================ SECTION SUBSCRIBE END.// ================ -->
