<!-- ============== SECTION PAGETOP ============== -->
<section class="py-4">
    <div class="container" >
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '/';">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="/" hx-boost="true" class="text-dark fw-bold">Anor</a>
                </li>

                {{/* populate ancestor categories as breadcrumb */}}
                {{ range $index, $category := .AncestorCategories }}
                    <li class="breadcrumb-item text-muted">
                        <a href="#"
                           hx-push-url="true"
                           hx-get="/categories/{{ $category.Slug }}-{{ $category.ID }}"
                           hx-target="#main"
                           hx-target-error=""
                           class="text-muted">{{ $category.Category }}
                        </a>
                    </li>
                {{ end }}

                {{/* populate category as the last item of breadcrumb */}}
                <li class="breadcrumb-item text-muted active" aria-current="page">
                    {{ .Category.Category }}
                </li>
            </ol>
        </nav>
    </div> <!-- container //  -->
</section>
<!-- ============== SECTION PAGETOP END// ============== -->

<!-- ================ SECTION-ITEM-INFO  ============== -->
<section>
    <div class="container">
        <article class="card p-3 mb-4">
            <div class="row">
                <aside class="col-lg-6">
                    <figure>
                        <div class="row">
                            <div class="col-lg-2">
                                <div id="left">
                                    <div id="vertical-slider" class="splide">
                                        <div class="splide__track">
                                            <ul class="splide__list">
                                                {{ range $index, $link := .Product.ImageLinks }}
                                                    <li class="splide__slide">
                                                        <img data-thumb-index="{{ $index }}" alt="" src="{{ modifyImgURL $link 140 }}" />
                                                    </li>
                                                {{ end }}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div id="right">
                                    <div id="main-slider" class="splide">
                                        <div class="splide__track">
                                            <ul class="splide__list">
                                                {{ range $index, $link := .Product.ImageLinks }}
                                                    <li class="splide__slide">
                                                        <img data-img-index="{{ $index }}" alt="" src="{{ modifyImgURL $link 960 }}" />
                                                    </li>
                                                {{ end }}
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </figure>
                </aside>
                <main class="col-lg-6 ps-4">
                    <article>
                        <div class="rating-wrap mb-3">
                            <p class="d-inline text-warning"><i class="fa fa-star"></i></p>
                            <b class="label-rating text-warning me-0 "> 4.5 </b>
                            <span class="label-rating text-muted ms-0">(34 reviews)</span>
                            <span class="label-rating text-muted">  154 sold </span>
                        </div> <!-- rating-wrap.// -->
                        <h4 class="mb-2">{{ .Product.Name }}</h4>
                        <dl class="row">
                            <dt class="col-xxl-3 col-lg-4 fw-normal text-dark">Seller: </dt>
                            <dd class="col-xxl-9 col-lg-8"><a href="/stores/{{ .Product.Store.PublicID }}" style="color: inherit; text-decoration: underline;">{{ .Product.Store.Name }}</a></dd>
                        </dl>
                        <hr class="mb-3">
                        {{ range $attribute, $attributeValues := .Product.Attributes }}
                            <div class="row my-4">
                                <label for="size" class="col-sm-3 col-form-label fw-normal text-dark">{{ $attribute }}:</label>
                                <div class="col-sm-9">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected> - Select - </option>
                                        {{ range $attributeValues }}
                                            <option value="{{ . }}">{{ . }}</option>
                                        {{ end }}
                                    </select>
                                </div>
                            </div>
                        {{ end }}
                        <div class="row my-3">
                            <label class="form-label text-dark mb-2" style="display: inline-block; width: fit-content;">Quantity:</label> <span style="display: inline-block; width: fit-content;">5 left</span>
                            <div class="d-flex flex-row justify-content-start">
                                <div class="input-group input-group-counter">
                                    <input type="button" value="-" class="button-minus border" data-field="quantity">
                                    <input type="number" step="1" min="1" max="5" value="1" name="quantity" class="quantity-field border">
                                    <input type="button" value="+" class="button-plus border" data-field="quantity">
                                </div>

                            </div>
                        </div>
                        <div class="row my-3">
                            <label class="form-label text-dark mb-2" style="display: inline-block; width: fit-content;">Price:</label>
                            <div class="d-flex flex-row justify-content-start">
                                <span class="d-inline-block fs-5 fw-bold me-2" style="letter-spacing: 1px;">${{ subd .Product.Pricing.BasePrice  .Product.Pricing.DiscountedAmount  }}</span>
                                <span class="d-inline-block fs-5 text-decoration-line-through text-muted" >${{ .Product.Pricing.BasePrice }}</span>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary btn-lg me-2 rounded-3" >Add To Cart</button>
                                <button type="button" class="btn btn-outline-primary btn-lg ms-2 rounded-3">Buy It Now</button>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div>
                                <div class="d-flex p-3 rounded align-items-center" style="background-color: #f7f7f7; color: black;">
                    <span class="d-inline-block me-2 align-self-center">
                      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-bag-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                      </svg>
                    </span>
                                    <span class="d-inline-block align-self-center mt-auto"> 34 people bought this week</span>
                                </div>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="mt-3">
                                <p class="text-dark">Product overview</p>
                                <ul class="text-dark" style="font-size: .875rem;">
                                    {{ range .Product.ShortInfo }}
                                        <li class="mb-1">{{ . }}</li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                    </article> <!-- product-info-aside .// -->
                </main> <!-- col.// -->
            </div> <!-- row.// -->
        </article>
    </div> <!-- container .//  -->
</section>
<!-- ================ SECTION-ITEM-INFO END .// ============== -->



<!-- ================ SECTION-DETAIL-BOTTOM ============== -->
<section>
    <div class="container">
        <div class="row">
            <main class="col-xl-12 col-lg-12">
                <div class="card mb-4">
                    <header class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#details" aria-current="true"
                                   href="#">About this item</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#shipping" href="#">Shipping </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#reviews" href="#">Reviews (27)</a>
                            </li>
                        </ul>
                    </header> <!-- card-header .// -->
                    <div class="tab-content card-body">

                        <!-- tab-pane details -->
                        <article class="tab-pane px-4 active" id="details" role="tabpanel">
                            <h5 class="mt-2">Item specifics</h5>
                            <div class="row mt-4">
                                {{ $splitSpecs := splitMap .Product.Specs }}
                                <div class="col-lg-6">
                                    <dl class="row">
                                        {{ range $key, $val := $splitSpecs.First }}
                                            <dt class="col-xxl-3 col-lg-4">{{ $key }}</dt>
                                            <dd class="col-xxl-9 col-lg-8">{{ $val }}</dd>
                                        {{ end }}
                                    </dl>
                                </div>
                                <div class="col-lg-6">
                                    <dl class="row">
                                        {{ range $key, $val := $splitSpecs.Second }}
                                            <dt class="col-xxl-3 col-lg-4">{{ $key }}</dt>
                                            <dd class="col-xxl-9 col-lg-8">{{ $val }}</dd>
                                        {{ end }}
                                    </dl>
                                </div>
                            </div>

                        </article>

                        <article class="tab-pane px-4" id="shipping" role="tabpanel">
                            <h5 class="mt-3">Shipping information </h5>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa reprehenderit, nam doloribus possimus sapiente quo cumque maxime rerum. Sit repellat nisi consequuntur assumenda, ipsam ab aut hic sint laboriosam tempore!
                        </article>

                        <article class="tab-pane px-4" id="reviews" role="tabpanel">
                            <h5 class="mt-3">All reviews, <span class="text-muted"> 27 reviews </span> </h5>

                        </article>

                    </div> <!-- card-body .// -->
                </div> <!-- card .// -->

            </main>

        </div> <!-- row.// -->

    </div> <!-- container .//  -->
</section>
<!-- ================ SECTION-DETAIL-BOTTOM END .// ============== -->


<!-- ================ SECTION-RELATED ============== -->
<section>
    <div class="container">
        <article class="card p-3 mb-4">
            <h5 class="card-title"> Related products </h5>

            <div class="row">
                <div class="col-xxl-2 col-xl-3 col-sm-4 col-6">
                    <figure class="card-product-grid product-sm">
                        <a href="#" class="img-wrap border rounded"> <img src="static/images/items/cloth/6.jpg"> </a>
                        <figcaption class="mt-2">
                            <a href="#" class="title"> Original Product Name </a>
                            <p class="mt-1 text-muted"> $32.00-$40.00 </p> <!-- price.// -->
                        </figcaption>
                    </figure> <!-- item // -->
                </div> <!-- col // -->

                <div class="col-xxl-2 col-xl-3 col-sm-4 col-6">
                    <figure class="card-product-grid product-sm">
                        <a href="#" class="img-wrap border rounded"> <img src="static/images/items/cloth/5.jpg"> </a>
                        <figcaption class="mt-2">
                            <a href="#" class="title"> Jeans Backpack Small </a>
                            <p class="mt-1 text-muted"> $32.00-$40.00 </p> <!-- price.// -->
                        </figcaption>
                    </figure> <!-- item // -->
                </div> <!-- col // -->

                <div class="col-xxl-2 col-xl-3 col-sm-4 col-6">
                    <figure class="card-product-grid product-sm">
                        <a href="#" class="img-wrap border rounded"> <img src="static/images/items/cloth/4.jpg"> </a>
                        <figcaption class="mt-2">
                            <a href="#" class="title"> Mens Jeans Short Blue </a>
                            <p class="mt-1 text-muted"> $32.00-$40.00 </p> <!-- price.// -->
                        </figcaption>
                    </figure> <!-- item // -->
                </div> <!-- col // -->

                <div class="col-xxl-2 col-xl-3 col-sm-4 col-6">
                    <figure class="card-product-grid product-sm">
                        <a href="#" class="img-wrap border rounded"> <img src="static/images/items/tech/10.jpg"> </a>
                        <figcaption class="mt-2">
                            <a href="#" class="title">Electric Kettle 200 Watt </a>
                            <p class="mt-1 text-muted"> $32.00-$40.00 </p> <!-- price.// -->
                        </figcaption>
                    </figure> <!-- item // -->
                </div> <!-- col // -->

                <div class="col-xxl-2 col-xl-3 col-sm-4 col-6">
                    <figure class="card-product-grid product-sm">
                        <a href="#" class="img-wrap border rounded"> <img src="static/images/items/interior/3.jpg"> </a>
                        <figcaption class="mt-2">
                            <a href="#" class="title">Headset for Office </a>
                            <p class="mt-1 text-muted"> $32.00-$40.00 </p> <!-- price.// -->
                        </figcaption>
                    </figure> <!-- item // -->
                </div> <!-- col // -->

                <div class="col-xxl-2 col-xl-3 col-sm-4 col-6">
                    <figure class="card-product-grid product-sm">
                        <a href="#" class="img-wrap border rounded"> <img alt="" src="static/images/items/interior/1.jpg"> </a>
                        <figcaption class="mt-2">
                            <a href="#" class="title">Soft Chair for Office</a>
                            <p class="mt-1 text-muted"> $32.00-$40.00 </p> <!-- price.// -->
                        </figcaption>
                    </figure> <!-- item // -->
                </div> <!-- col // -->

            </div> <!-- row // -->

        </article>
    </div> <!-- container .//  -->
</section>
<!-- ================ SECTION-RELATED END .// ============== -->


<!-- ================ SECTION-BANNER ============== -->
<section class="padding-bottom">
    <div class="container">

        <article class="card border-0 bg-primary bg-cover"
                 style="background-image: url(static/images/banners/bg-warehouse.jpg);">
            <div class="card-body">
                <a href="#" class="mt-2 me-3 float-end btn btn-warning">Learn more</a>
                <h4 class="text-white">Super discount on more than 100 USD</h4>
                <p class="text-white mb-0">You ever write dummy info</p>
            </div>
        </article>
    </div> <!-- container .//  -->
</section>
<!-- ================ SECTION-BANNER END .// ============== -->