<p>We sent a verification code <br> to <i>{{ . }}</i></p>
<div class="mb-3">
    <label class="form-label">OTP</label>
    <input class="form-control" placeholder="" name="otp" type="text">
</div>
<input name="email" type="hidden" value="{{ . }}">
<div class="mb-4">
    <button type="submit" class="btn btn-primary w-100" 
        hx-post="/signup/confirm"
        hx-target-error="#err-msg"
    >Signup</button>
</div>