<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Confirmation</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            background-color: #cccccc;
            font-family: Arial, sans-serif;
        }
        table {
            border-spacing: 0;
        }
        img {
            border: 0;
            margin-left: 10px;
        }
        .wrapper {
            width: 100%;
            table-layout: fixed;
            background-color: #cccccc;
            padding-bottom: 60px;
        }
        .main {
            background-color: #ffffff;
            margin: 0 auto;
            width: 100%;
            max-width: 520px;
            border-spacing: 0;
        }
        .otp {
            font-size: 28px;
            letter-spacing: 4px;
            color: #28a745; /* Bootstrap's .bg-success color */
            font-weight: bold;
            padding: 18px;
            text-align: center;
            background-color: #f4f4f4;
            border-radius: 5px;
            margin: 20px auto;
            display: inline-block;
        }
        .otp-wrapper {
            text-align: center
        }
        .content {
            padding: 20px;
            color: #666666;
        }
        .footer {
            padding: 20px;
            color: #888888;
            font-size: 13px;
        }
        p {
            font-size: 15px;
        }
    </style>
</head>
<body style="font-size: 15px;">
<center class="wrapper">
    <table class="main" width="100%">
        <tr>
            <td height="8" style="background-color: #171a1b;"></td>
        </tr>

        <!-- Logo -->
        <tr>
            <td style="padding: 10px;">
                <a href="https://alisherm.dev">
                    <img src="https://img.logoipsum.com/288.svg" alt="Anor" width="180" title="Anor">
                </a>
            </td>
        </tr>

        <!-- Main Content -->
        <tr>
            <td class="content">
                <h1>Welcome to Your New Account</h1>
                <p >Please verify your account by entering the OTP below:</p>
                <div class="otp-wrapper"><div class="otp">{{ . }}</div></div>
                <p>Keep this OTP private. Our support team will never request your password, OTP, or financial details.</p>
                <p>Thank you for choosing us, and we look forward to having you with us.</p>
            </td>
        </tr>

        <!-- Footer -->
        <tr>
            <td class="footer">
                Regards, <br>
                The Anor Team
            </td>
        </tr>
    </table>
</center>
</body>
</html>
