<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            background-color: #cccccc;
            font-family: Arial, sans-serif;
        }
        table {
            border-spacing: 0;
        }
        img {
            border: 0;
            margin-left: 10px;
        }
        .wrapper {
            width: 100%;
            table-layout: fixed;
            background-color: #cccccc;
            padding-bottom: 60px;
        }
        .main {
            background-color: #ffffff;
            margin: 0 auto;
            width: 100%;
            max-width: 520px;
            border-spacing: 0;
        }
        .button {
            font-size: 16px;
            color: #ffffff;
            text-decoration: none;
            padding: 10px 20px;
            background-color: #28a745; /* Bootstrap's .btn-success color */
            border-radius: 5px;
            display: inline-block;
        }

        .button:hover {
            background-color: #218838; /* Darker shade for hover effect */
        }
        .link-wrapper {
            margin-top: 15px;
            margin-botton: 15px;
            text-align: center
        }
        .content {
            padding: 20px;
            color: #666666;
        }
        .footer {
            padding: 20px;
            color: #888888;
            font-size: 13px;
        }
        p {
            font-size: 15px;
        }
    </style>
</head>
<body>
<center class="wrapper">
    <table class="main" width="100%">
        <tr>
            <td height="8" style="background-color: #171a1b;"></td>
        </tr>

        <!-- Logo -->
        <tr>
            <td style="padding: 10px;">
                <a href="https://anor.alisherm.dev/">
                    <img src="https://anor.alisherm.dev/static/images/logo.svg" alt="Anor" width="180" title="Anor">
                </a>
            </td>
        </tr>

        <!-- Main Content -->
        <tr>
            <td class="content">
                <h1>Reset Your Password</h1>
                <p>Seems like you need a new password! No worries, just click the button below to set up a new one:</p>
                <div class="link-wrapper"><a href="{{ . }}" class="button" style="color: white;">Update My Password</a></div>
                <p>This password reset link will expire in 24 hours. If you did not request this change, please ignore this email.</p>
                <p>Thanks for using our services!</p>
            </td>
        </tr>

        <!-- Footer -->
        <tr>
            <td class="footer">
                Regards, <br>
                The Anor Team
            </td>
        </tr>
    </table>
</center>
</body>
</html>
