{{ define "title" }} Home {{ end }}

{{ define "main" }}
<section class="section-intro mb-3 mt-3">
    <div class="container">
        <main class="card p-0">
            <div id="carouselMain" class="carousel-main carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <article class="carousel-item active">
                        <div class="carousel-caption">
                            <h2 class="mb-3">
                                <span class="fw-normal">Latest trending</span> <br> <strong>Electronic items</strong>
                            </h2>
                            <a href="#" class="btn btn-warning"> View more </a>
                        </div>
                        <img style="height: 352px;" src="static/images/banners/main-tech.png"
                            class="d-block w-100 img-cover" alt="Banner">
                    </article>
                    <article class="carousel-item">
                        <div class="carousel-caption">
                            <h2 class="mb-3">
                                <span class="fw-normal">Latest delas</span> <br> <strong>Best Smartphones</strong>
                            </h2>
                            <a href="#" class="btn btn-warning"> View more </a>
                        </div>
                        <img style="height: 352px;" src="static/images/banners/main-phone.png"
                            class="d-block w-100 img-cover" alt="Banner">
                    </article>
                </div> 

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
        </main>
    </div> 
</section>

<section class="pb-3">
    <div class="container">
        <div class="card overflow-hidden">
            <div class="row gx-0">
                <aside class="col-lg-3 p-4">
                    <header>
                        <h3>Deals and offers</h3>
                        <p>Hygiene equipments</p>
                    </header>
                    <div class="timer">
                        <div> <span class="num">04</span> <small>Days</small></div>
                        <div> <span class="num">12</span> <small>Hours</small></div>
                        <div> <span class="num">58</span> <small>Min</small></div>
                        <div> <span class="num">02</span> <small>Sec</small></div>
                    </div>
                </aside> 
                <div class="col-lg-9 border-start">
                    <div class="row gx-0 bordered-cols">

                        <div class="col-md col-sm-4 col-6">
                            <figure class="card-product product-sm p-2">
                                <a href="#" class="img-wrap p-2"> <img src="static/images/items/tech/10.jpg"> </a>
                                <div class="p-3 text-center">
                                    <a href="#" class="title">Electric kattle</a>
                                    <span class="badge bg-danger rounded-pill"> -20% </span>
                                </div>
                            </figure>
                        </div> 

                        <div class="col-md col-sm-4 col-6">
                            <figure class="card-product product-sm p-2">
                                <a href="#" class="img-wrap p-2"> <img src="static/images/items/tech/9.jpg"> </a>
                                <div class="p-3 text-center">
                                    <a href="#" class="title">Headsets</a>
                                    <span class="badge bg-danger rounded-pill"> -45% </span>
                                </div>
                            </figure>
                        </div> 
                        <div class="col-md col-sm-4 col-6">
                            <figure class="card-product product-sm p-2">
                                <a href="#" class="img-wrap p-2"> <img src="static/images/items/tech/8.jpg"> </a>
                                <div class="p-3 text-center">
                                    <a href="#" class="title">Smart watches</a>
                                    <span class="badge bg-danger rounded-pill"> -15% </span>
                                </div>
                            </figure>
                        </div>
                        <div class="col-md col-sm-4 col-6">
                            <figure class="card-product product-sm p-2">
                                <a href="#" class="img-wrap p-2"> <img src="static/images/items/tech/7.jpg"> </a>
                                <div class="p-3 text-center">
                                    <a href="#" class="title">HP Laptop</a>
                                    <span class="badge bg-danger rounded-pill"> -20% </span>
                                </div>
                            </figure>
                        </div> 
                        <div class="col-md col-sm-4 col-6">
                            <figure class="card-product product-sm p-2">
                                <a href="#" class="img-wrap p-2"> <img src="static/images/items/tech/6.jpg"> </a>
                                <div class="p-3 text-center">
                                    <a href="#" class="title">Canon camera</a>
                                    <span class="badge bg-danger rounded-pill"> -20% </span>
                                </div>
                            </figure>
                        </div>
                    </div> 

                </div> 
            </div>
        </div>
    </div> 
</section>

<section class="pb-3">
    <div class="container">
        <div class="card overflow-hidden">
            <div class="row gx-0">
                <aside class="col-lg-3 p-4 bg-cover"
                    style="background-image: url('static/images/banners/interior.jpg');">
                    <header>
                        <h3 class="mb-3">Home and <br> outdoor items</h3>
                        <a href="#" class="btn btn-light">Source now</a>
                    </header>
                </aside> 
                <div class="col-lg-9">

                    <ul class="row g-0 bordered-cols m-0">
                        <li class="col-6 col-lg-3 col-md-4">
                            <div class="card-product p-3 pe-0">
                                <a href="#" class="title">Armchairs </a>
                                <img class="size-72x72 float-end mb-2" src="static/images/items/interior/1.jpg">
                                <p class="text-muted small"> From <br> USD 25</p>
                            </div>
                        </li>
                        <li class="col-6 col-lg-3 col-md-4">
                            <div class="card-product p-3 pe-0">
                                <a href="#" class="title">Office chairs </a>
                                <img class="size-72x72 float-end mb-2" src="static/images/items/interior/2.jpg">
                                <p class="text-muted small"> From <br> USD 19</p>
                            </div>
                        </li>
                        <li class="col-6 col-lg-3 col-md-4">
                            <div class="card-product p-3 pe-0">
                                <a href="#" class="title">Kitchen dishes </a>
                                <img class="size-72x72 float-end mb-2" src="static/images/items/interior/3.jpg">
                                <p class="text-muted small"> From <br> USD 7</p>
                            </div>
                        </li>
                        <li class="col-6 col-lg-3 col-md-4">
                            <div class="card-product p-3 pe-0">
                                <a href="#" class="title">Home Plants </a>
                                <img class="size-72x72 float-end mb-2" src="static/images/items/interior/4.jpg">
                                <p class="text-muted small"> From <br> USD 10</p>
                            </div>
                        </li>
                        <li class="col-6 col-lg-3 col-md-4">
                            <div class="card-product p-3 pe-0">
                                <a href="#" class="title">For Bedroom </a>
                                <img class="size-72x72 float-end mb-2" src="static/images/items/interior/5.jpg">
                                <p class="text-muted small"> From <br> USD 12</p>
                            </div>
                        </li>
                        <li class="col-6 col-lg-3 col-md-4">
                            <div class="card-product p-3 pe-0">
                                <a href="#" class="title">Home Lighting </a>
                                <img class="size-72x72 float-end mb-2" src="static/images/items/interior/6.jpg">
                                <p class="text-muted small"> From <br> USD 19</p>
                            </div>
                        </li>
                        <li class="col-6 col-lg-3 col-md-4">
                            <div class="card-product p-3 pe-0">
                                <a href="#" class="title">Best items </a>
                                <img class="size-72x72 float-end mb-2" src="static/images/items/interior/7.jpg">
                                <p class="text-muted small"> From <br> USD 19</p>
                            </div>
                        </li>
                        <li class="col-6 col-lg-3 col-md-4">
                            <div class="card-product p-3 pe-0">
                                <a href="#" class="title">Category name </a>
                                <img class="size-72x72 float-end mb-2" src="static/images/items/interior/8.jpg">
                                <p class="text-muted small"> From <br> USD 19</p>
                            </div>
                        </li>
                    </ul>
                </div> 
            </div>
        </div>
    </div> 
</section>

<section class="pb-3">
    <div class="container">
        <div class="card overflow-hidden">
            <div class="row gx-0">
                <aside class="col-lg-3 p-4 bg-cover" style="background-image: url('static/images/banners/tech.jpg');">
                    <header>
                        <h3 class="mb-3">Consumer <br> electronics and <br> gadgets</h3>
                        <a href="#" class="btn btn-light">Source now</a>
                    </header>
                </aside> 
                <div class="col-lg-9">

                    <ul class="row g-0 bordered-cols m-0">
                        <li class="col-6 col-lg-3 col-md-4">
                            <div class="card-product p-3 pe-0">
                                <a href="#" class="title">Smartphones </a>
                                <img class="size-72x72 float-end mb-2" src="static/images/items/tech/3.jpg">
                                <p class="text-muted small"> From <br> USD 140</p>
                            </div>
                        </li>
                        <li class="col-6 col-lg-3 col-md-4">
                            <div class="card-product p-3 pe-0">
                                <a href="#" class="title">Apple iPhone </a>
                                <img class="size-72x72 float-end mb-2" src="static/images/items/tech/4.jpg">
                                <p class="text-muted small"> From <br> USD 850</p>
                            </div>
                        </li>
                        <li class="col-6 col-lg-3 col-md-4">
                            <div class="card-product p-3 pe-0">
                                <a href="#" class="title">For Gaming </a>
                                <img class="size-72x72 float-end mb-2" src="static/images/items/tech/5.jpg">
                                <p class="text-muted small"> From <br> USD 19</p>
                            </div>
                        </li>
                        <li class="col-6 col-lg-3 col-md-4">
                            <div class="card-product p-3 pe-0">
                                <a href="#" class="title">Cameras </a>
                                <img class="size-72x72 float-end mb-2" src="static/images/items/tech/6.jpg">
                                <p class="text-muted small"> From <br> USD 120</p>
                            </div>
                        </li>
                        <li class="col-6 col-lg-3 col-md-4">
                            <div class="card-product p-3 pe-0">
                                <a href="#" class="title">Computers </a>
                                <img class="size-72x72 float-end mb-2" src="static/images/items/tech/7.jpg">
                                <p class="text-muted small"> From <br> USD 19</p>
                            </div>
                        </li>
                        <li class="col-6 col-lg-3 col-md-4">
                            <div class="card-product p-3 pe-0">
                                <a href="#" class="title">Smartwatches </a>
                                <img class="size-72x72 float-end mb-2" src="static/images/items/tech/8.jpg">
                                <p class="text-muted small"> From <br> USD 19</p>
                            </div>
                        </li>
                        <li class="col-6 col-lg-3 col-md-4">
                            <div class="card-product p-3 pe-0">
                                <a href="#" class="title">Headphones </a>
                                <img class="size-72x72 float-end mb-2" src="static/images/items/tech/9.jpg">
                                <p class="text-muted small"> From <br> USD 19</p>
                            </div>
                        </li>
                        <li class="col-6 col-lg-3 col-md-4">
                            <div class="card-product p-3 pe-0">
                                <a href="#" class="title">Electric kettle</a>
                                <img class="size-72x72 float-end mb-2" src="static/images/items/tech/10.jpg">
                                <p class="text-muted small"> From <br> USD 19</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
</section>

<section class="pb-4 pt-4">
    <div class="container">

        <article class="card bg-primary p-5"
            style="min-height:400px; background-size: cover; background-image: url('static/images/banners/bg-warehouse.jpg');">
            <div class="row">
                <div class="col-lg-5">
                    <h2 class="text-white">An easy way to send requests to all suppliers</h2>
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor
                        incididunt.</p>
                </div>
                <div class="col-lg-5 ms-auto">
                    <article class="card card-body">
                        <form class="">
                            <h6 class="mb-3">Send quote to suppliers</h6>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="What item you need?">
                            </div>
                            <div class="mb-3">
                                <textarea class="form-control" placeholder="Type more details" rows="3"></textarea>
                            </div>
                            <div class="mb-3 d-flex" style="max-width: 250px;">
                                <input type="number" class=" me-2 form-control" placeholder="Qty">
                                <select class="form-select">
                                    <option value="">Litres</option>
                                    <option value="">Kgs</option>
                                </select>
                            </div>
                            <button class="btn btn-primary"> Send inquiry </button>
                        </form>
                    </article>
                </div>
            </div> 
        </article>
    </div>
</section>

<section class="pb-3">
    <div class="container">

        <header class="section-heading">
            <h3>New products</h3>
        </header>

        <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-2">

            <div class="col">
                <figure class="card card-product-grid">
                    <a href="#" class="img-wrap"> <img src="static/images/items/cloth/1.jpg"> </a>
                    <figcaption class="p-3">
                        <div class="price-wrap">
                            <span class="price">$24.00</span>
                        </div> 
                        <a href="#" class="title">T-shirts with multiple colors, for men</a>
                    </figcaption>
                </figure>
            </div> 

            <div class="col">
                <figure class="card card-product-grid">
                    <a href="#" class="img-wrap"> <img src="static/images/items/cloth/2.jpg"> </a>
                    <figcaption class="p-3">
                        <div class="price-wrap">
                            <span class="price">$29.90</span>
                        </div> 
                        <a href="#" class="title">T-shirts with blue color, unisex model</a>
                    </figcaption>
                </figure>
            </div> 

            <div class="col">
                <figure class="card card-product-grid">
                    <a href="#" class="img-wrap"> <img src="static/images/items/cloth/3.jpg"> </a>
                    <figcaption class="p-3">
                        <div class="price-wrap">
                            <span class="price">$790.50</span>
                        </div> 
                        <a href="#" class="title">Casual Winter Jacket, Brown Color</a>
                    </figcaption>
                </figure>
            </div> 

            <div class="col">
                <figure class="card card-product-grid">
                    <a href="#" class="img-wrap"> <img src="static/images/items/cloth/4.jpg"> </a>
                    <figcaption class="p-3">
                        <div class="price-wrap">
                            <span class="price">$12.00</span>
                        </div> 
                        <a href="#" class="title">Jeans shorts for men darkblue color</a>
                    </figcaption>
                </figure>
            </div> 

            <div class="col">
                <figure class="card card-product-grid">
                    <a href="#" class="img-wrap"> <img src="static/images/items/cloth/5.jpg"> </a>
                    <figcaption class="p-3">
                        <div class="price-wrap">
                            <span class="price">$192.50</span>
                        </div> 
                        <a href="#" class="title">Lightweight Jeans bag for travel, Unisex model</a>
                    </figcaption>
                </figure>
            </div> 

            <div class="col">
                <figure class="card card-product-grid">
                    <a href="#" class="img-wrap"> <img src="static/images/items/cloth/6.jpg"> </a>
                    <figcaption class="p-3">
                        <div class="price-wrap">
                            <span class="price">$790.50</span>
                        </div> 
                        <a href="#" class="title">GoPro HERO6 4K Action Camera - Black</a>
                    </figcaption>
                </figure>
            </div> 

            <div class="col">
                <figure class="card card-product-grid">
                    <a href="#" class="img-wrap"> <img src="static/images/items/interior/3.jpg"> </a>
                    <figcaption class="p-3">
                        <div class="price-wrap">
                            <span class="price">$790.50</span>
                        </div> 
                        <a href="#" class="title">Ceramic Jug for Kitchen, Medium size</a>
                    </figcaption>
                </figure>
            </div> 

            <div class="col">
                <figure class="card card-product-grid">
                    <a href="#" class="img-wrap"> <img src="static/images/items/interior/2.jpg"> </a>
                    <figcaption class="p-3">
                        <div class="price-wrap">
                            <span class="price">$790.50</span>
                        </div> 
                        <a href="#" class="title"> Armchair for Home and Office, Yellow color</a>
                    </figcaption>
                </figure>
            </div> 

            <div class="col">
                <figure class="card card-product-grid">
                    <a href="#" class="img-wrap"> <img src="static/images/items/interior/5.jpg"> </a>
                    <figcaption class="p-3">
                        <div class="price-wrap">
                            <span class="price">$790.50</span>
                        </div> 
                        <a href="#" class="title"> Airbed Blue Soft Material With Pump </a>
                    </figcaption>
                </figure>
            </div> 

            <div class="col">
                <figure class="card card-product-grid">
                    <a href="#" class="img-wrap"> <img src="static/images/items/interior/7.jpg"> </a>
                    <figcaption class="p-3">
                        <div class="price-wrap">
                            <span class="price">$19.50</span>
                        </div> 
                        <a href="#" class="title">Modern Product Name Goes Here</a>
                    </figcaption>
                </figure>
            </div> 

        </div> 
    </div> 
</section>

<section class="mb-4">
    <div class="container">

        <header class="section-heading">
            <h3>Our extra services</h3>
        </header>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <article class="card mb-3">
                    <img class="card-img-top" src="static/images/posts/1.jpg" height="160">
                    <div class="card-body">
                        <a href="#" class="stretched-link text-body"> Source from Industry Hubs </a>
                    </div>
                </article>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <article class="card mb-3">
                    <img class="card-img-top" src="static/images/posts/2.jpg" height="160">
                    <div class="card-body">
                        <a href="#" class="stretched-link text-body"> Customize Your Products </a>
                    </div>
                </article>
            </div> 

            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <article class="card mb-3">
                    <img class="card-img-top" src="static/images/posts/3.jpg" height="160">
                    <div class="card-body">
                        <a href="#" class="stretched-link text-body"> Fast shipping by ocean or air </a>
                    </div>
                </article>
            </div> 

            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <article class="card mb-3">
                    <img class="card-img-top" src="static/images/posts/4.jpg" height="160">
                    <div class="card-body">
                        <a href="#" class="stretched-link text-body"> Product monitoring service </a>
                    </div>
                </article>
            </div>

        </div> 

    </div> 
</section>

<section class="padding-y-lg bg-gray-light">
    <div class="container">

        <h4 class="text-center">Subscribe on our newsletter</h4>
        <p class="pb-2 text-center">Get daily news on upcoming offers from many suppliers all over the world</p>

        <div style="max-width:380px;" class="mx-auto">

            <div class="d-flex">
                <div class="me-1 flex-grow-1">
                    <input class="w-100 form-control" placeholder="Your Email" type="email">
                </div>
                <div class="">
                    <button type="submit" class="btn btn-primary"> <i class="fa fa-envelope"></i> Subscribe
                    </button>
                </div>
            </div>
        </div>
    </div> 
</section>
{{ end }}